<div class="mega">
  <div class="search__container">
    <p class="search__title">
      Search for a user
    </p>
    <form action="/" method="POST">
      <input class="search__input" name="username" type="text" placeholder="<%= defined?(username) ? username : 'Search' %>">
      <input type="submit" style="display: none" />
    </form>
  </div>
</div>
