<div class="mega">
  <div class="search_container">
    <p class="search_title">
      Search for a user
    </p>
    <form action="/" method="POST">
      <input class="search_input" name="username" type="text" placeholder="<%= defined?(username) ? username : 'Search' %>">
      <input type="submit" style="display: none" />
    </form>
  </div>
</div>
