<!DOCTYPE html>
<html>
  <%= erb :_head %>
  <body>
    <%= erb :_navbar %>
    <div class="box1" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Name (ICPC)</h5>
        <p class="card-text">A description here. sladjflasd f.sf sldkf sfkdfls fsladf s</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <%= erb :_footer %>
  </body>
</html>
