<!DOCTYPE html>
<html lang="en">
  <%= erb :head_partial %>
  <body>
    <%= erb :navbar_partial %>
    <div class='masonry'>
      <% @temp_var.each do |f| %>
        <a class="item" href="https://github.com/<%= f %>">
          <img class="card-image" src="https://gh-card.dev/repos/<%= f %>.svg"></a>
      <% end %>
    </div>
  </body>
</html>
