@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);

.card-text,
.card-title {
  font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
  .card-text,
  .card-title {
    font-family: "Fira Code VF", monospace;
  }
}

.card-text {
  font-size: 0.9em;
  padding-right: 1em;
  overflow-wrap: break-word;
}

.card-bottom {
  display: flex;
  /* padding: 1em; */
  font-size: 0.9em;
}

.box1 {
  box-sizing: inherit;
  margin: 0;
  color: rgb(36, 41, 46);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  text-align: left;
  font-family: "Roboto Mono", monospace;
}
