h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

p {
  font-family: "Aldrich", sans-serif;
}

body {
  /* position: relative; */
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ff00ff)) fixed;*/
  /* background-image: linear-gradient(rgba(255, 250, 240, .5), rgba(255, 250, 240, .99)), url("DSC_0037.jpg"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-color: #4ae0ed;
  /* color: #fdfdfd; */
  padding-bottom: 40px;
  font-family: "Lora", serif;
}

html {
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 3 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}